@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
:root {
    --main-color: #007edb;
    --icon-gray: #dadada;
    --icon-darkgray: darkgrey;
    --gray-background: #f7f7f7;
    --outline: #dadada;
    --black-color: #323237;
    --grey-color: #a0a4a8;
    --grey-light: #fbfbfc;
}

* {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
